
{% extends 'master.html' %}
{% block content %}
{% load static %}
<style>
    .size{
        height: 200px;
        width: 200px;
    }
    
</style>


    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h3 class="card-title text-center">CONTACT US</h3>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 pl-10">
            <img src="{% static 'img/baabtra/ab.png' %}" style="height: 400px; width: 400px;" >
        
        </div>
       
        <div class="col-md-6   ">
            <div class="card  " style="height: 550px; width: 450px;">
                <div class="card-body  ">
                    <h4 class="card-title text-center">DESCRIPTION</h4>
                  <p class="card-text text-center">Baabtra helps a software job seeker to get skilled in technologies like Php, Python, Angular 4 etc and to get placed in Software Companies.
                    Baabtra, the best software training company in Calicut has proved its expertise by training and placing several hundreds of students both in MNC’s like UST Global, Infosys, Oracle etc and SME’s.</p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">online and off line class</li>
                        <li class="list-group-item">good facility</li>
                        <li class="list-group-item">good teaching </li>
                        <li class="list-group-item">virtual classroom</li>
                        <li class="list-group-item">high speed wifi</li>
                      </ul>
           
        </div>
            </div>
        </div>
    
    </div>
    <div class="row p-2 m-3">
        
        <div class="col-sm-4">
            <figure class="figure">
                <img src="{% static 'img/baabtra/php.png' %}" class="figure-img img-fluid rounded size" alt="...">
                <figcaption class="figure-caption">PHP is a general-purpose scripting language geared towards web development..</figcaption>
              </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure">
                <img src="{% static 'img/baabtra/ang.png' %}" class="figure-img img-fluid rounded size" alt="...">
                <figcaption class="figure-caption">Angular is a platform for building mobile and desktop web applications.</figcaption>
              </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure">
                <img src="{% static 'img/baabtra/python.jfif' %}" class="figure-img img-fluid rounded size" alt="...">
                <figcaption class="figure-caption">Python is an interpreted high-level general-purpose programming language.</figcaption>
              </figure>
        </div>
        




    </div>




{% endblock %}