{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{% static 'css/baabtra.css' %}">
</head>
<body>
    <div class="header">
        <div class="icon">
            <img class="img1" src="{% static 'img/baabtra/baabtra.webp' %}" alt="">
        </div>
        <div class="lo">
          
             <button class="button1"><i class="fa fa-lock"></i>LOGIN</button>   
             <button class="button2">Registor</button>
        </div>
        
        
    </div>
    <div class="home">
        <a href="#bodyy">Home</a>
        <a href="course">Course</a>
        <a href="contact">Contact</a>

    </div>  
    <div   >
        <img class="img2" src="{% static 'img/baabtra/baabte.jpeg' %}" alt="">
    </div>
    <div class="text"><h1>Getting a software hob is so easy with our <br> internship program</h1></div>
 <div class="bodyy">
    <div class="office">
        <h1>OUR OFFICE</h1>
        <img class="cls" src="{% static 'img/baabtra/clas.jpeg' %}" alt="">

    </div>
    <div class="para">
        <h1>Best python training in calicut</h1>
        <p class="pa">baabtra.com offers you courses and training programs that will enable you to master programming in depth. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam delectus, aperiam laboriosam expedita officiis, deserunt repudiandae a itaque voluptates porro provident fugit numquam consequatur deleniti, vitae dolorum. Obcaecati, fugit temporibus? "</p>
    </div>
    <div class="vedio">
        <h1>Life@baabtra</h1>
        <iframe width="450" height="315"  src="https://www.youtube.com/embed/LIGnK77l1fA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " class="you" allowfullscreen></iframe>

    </div>
  </div >
<div class="footer">

</div>
   
    
</body>
</html>