{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>
    <div class="text">
        <h1>Explore our internship program </h1>
        <p>baabtra.com offers you courses and training programs that will enable you to master programming in depth. Enroll and start learning with the experts in the industry. We offer PHP Training with Laravel Framework, Python Training with Django Framework, Angular Training and Node.js Training.</p>

    </div>
    <div class="grid">
        <div class="sub"><img src="{% static 'img/baabtra/python.jfif' %}" alt="">
            <h1>PYTHON FULL STACK DEVELOPER</h1>
            <p>A full-stack Python developer has expertise in using the Python suite of languages for all the applications. Python is one language that permits our computer systems to execute software and communicate with each other.What is the full stack Python?
                Full Stack Python is an open source book that explains technical concepts in plain language. Read everything online for free or purchase the Supporter's Edition for nicely-formatted ebook (PDF, EPUB, MOBI) versions. This guide branches out on topic because your learning requirements depend on what you're working on.</p>
               

        </div>
        <div class="sub"><img src="{% static 'img/baabtra/php.png' %}" alt="">
            <h1>PHP FULL STACK DEVELOPER</h1>
            <p>A full stack web developer is a person who can develop both client and server software. In addition to mastering HTML and CSS, he/she also knows how to: Program a browser (like using JavaScript, jQuery, Angular, or Vue) Program a server (like using PHP, ASP, Python, or Node)A PHP Developer is a Software Developer who specialises in the design, testing and implementation of software using the PHP programming language.A full stack developer is an engineer who can handle all the work of databases, servers, systems engineering, and clients. Depending on the project, what customers need may be a mobile stack, a Web stack, or a native application stack</p>
              
        </div>
        <div class="sub"><img src="{% static 'img/baabtra/ang.png' %}" alt="">
            <H1>ANGULAR FONT END DEVELOPER</H1>
            <p>What is Angular front-end?
                AngularJS is a JavaScript-based open-source front-end web framework for developing single-page applications. It is maintained mainly by Google and a community of individuals and corporations. ... js web application server framework, AngularJS itself (or Angular), and Node.AngularJS: AngularJs is a JavaScript open-source front-end framework that is mainly used to develop single-page web applications(SPAs). It is a continuously growing and expanding framework which provides better ways for developing web applications. It changes the static HTML to dynamic HTML</p>

        </div>
        
    </div>

</body>
</html>