<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>

    <!-- -------------------------------display name---------------------------------------------------- -->
    <!-- <label for="">name:{{ username }}</label> -->


    <!-- -------------------------------display name correct or not---------------------------------------------------- -->
    <!-- {% if username == 'shadil' %}
    <h2>valied username</h2>
    {% else %}
    <h2>invalied username</h2>
    {% endif %} -->


    <!-- -------------------------------for loop check ---------------------------------------------------- -->
    <table border="2">
    <tr>
        <th>NAME</th>
        <th>PLACE</th>
        <th>AGE</th>
    </tr>
    {% for i in responce %}
 
      
    <tr>
        <td>{{ i.uname }}</td>
        <td>{{ i.place }}</td>
        <td>{{ i.age }}</td>
    </tr>
  

    {% endfor %}
</table>
</body>
</html>