{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head>
<body>
    <div class="main">
        <div class="name"><h1>PRODUCTS</h1></div>
       <div class="grid">
        <div class="pro"><img src="{% static 'img/productimg/nike.jfif' %}" alt="">
            <h1>Nike</h1>
            <h2>Price:2500/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
            
        </div>
         <div class="pro"><img src="{% static 'img/productimg/adi.jfif' %}" alt="">
            <h1>Adidas</h1>
            <h2>Price:3500/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img   src="{% static 'img/productimg/puma.jfif' %}" alt="">
            <h1>Puma</h1>
            <h2>Price:1500/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img   src="{% static 'img/productimg/spo.jfif' %}" alt="">
            <h1>Fancy</h1>
            <h2>Price:500/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img   src="{% static 'img/productimg/wood.jfif' %}" alt="">
            <h1>Woodland</h1>
            <h2>Price:5500/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/shoes.jfif' %}" alt="">
            <h1>Star</h1>
            <h2>Price:800/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/shoe.jfif' %}" alt="">
            <h1>spark</h1>
            <h2>Price:1200/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/s.jfif' %}" alt="">
            <h1>Latoos</h1>
            <h2>Price:1000/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/s1.jfif' %}" alt="">
            <h1>Boots</h1>
            <h2>Price:1800/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/s2.jfif' %}" alt="">
            <h1>Light</h1>
            <h2>Price:400/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/sh.jfif' %}" alt="">
            <h1>Casual</h1>
            <h2>Price:2200/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
        <div class="pro"><img src="{% static 'img/productimg/so.jfif' %}" alt="">
            <h1>Executive</h1>
            <h2>Price:1400/-</h2>
            <button class="bt">Buy</button> <button class="bt">Add to cart</button>
        </div>
       </div>
    </div>
    
</body>
</html>