{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            height: 30px;
        }
    </style>
</head>

<body>
    <center>
        <div
            style="height: 400px; width: 400px; background-image: url({% static 'img/reg.jpeg' %})  ; background-size: 100% 100%">
            <h1>Registor</h1>
            <p style="color: ghostwhite;">Create your account. It's free and only takes a minute.</p>
            <div style="padding-top: 50px;">

                <form action="home" method="post">
                    {% csrf_token %}
                    <p style="color: green;">{{status}}</p>
                    <input type="text" name="name" placeholder="Name">
                    <input type="text" name="phone" placeholder="phone no">
                    <input type="email" name="email" placeholder="email">
                    <input type="password" name="password" placeholder="password"> <br>
                    <input type="checkbox" name="" id=""> I accept the <a href="#"
                        style="text-decoration: none;">term</a> and <a href="#"
                        style="text-decoration: none;">policy</a><br><br>
                    <button style="width: 100%; height: 40px; background-color: lightyellow;">SUBMIT</button>
                </form>
            </div>
        </div>
    </center>
</body>

</html>